/* Common */
/* .flex { display: flex; } */
.text-center { text-align: center; }

/* Main */
body {
	margin: 2rem;
	padding: 2rem;
	font-family: sans-serif;
}

.tetris {
	--size: 300px;
	width: var(--size);
	/* height: calc(2 * --size); */
	image-rendering: pixelated;

	display: inline-block;
	--pixel-size: 30px;
	border: var(--pixel-size) solid #666;
	outline: var(--pixel-size) solid #eee;
	margin: calc(2 * var(--pixel-size) - 7px);
}

/* ID elements */
#game {
	display: inline-block;
}

#side-panel {
	float: right;
	background: #ECEFF1;
	width: 350px;
	padding: 2em;
	box-sizing: border-box;
	height: 100%;
	margin: 1em;
}
