/* Common */
/* .flex { display: flex; } */
.text-center { text-align: center; }

/* Main */
body {
	margin: 2rem;
	padding: 2rem;
	font-family: sans-serif;
}

.tetris {
	--size: 300px;
	width: var(--size);
	/* height: calc(2 * --size); */
	image-rendering: pixelated;

	display: inline-block;
	border: 3px solid #ccc;
	margin: 1.5rem;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* ID elements */
#game {
	display: inline-block;
}

#side-panel {
	float: right;
	background: #ECEFF1;
	width: 350px;
	padding: 2em;
	box-sizing: border-box;
	height: 100%;
	margin: 1em;
}
